body {
	padding: 1rem;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300 !important;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2, h3 {
	font-family: "museo-slab", Rockwell, "American Typewriter", sans-serif;
	font-weight: 500;
	margin-bottom: 2rem;
}
h2 {
	color: #c70a3c;
	text-align: center;
}
h3 {
	color: #fd9f44;
}
abbr {
	border: none !important; /*why’s important required?*/
}
hr {
	border: none;
	border-top: 1px solid rgba(0,0,0,0.1);
	margin: 1rem -1rem;
}
th {
	font-family: "museo-slab", Rockwell, "American Typewriter", sans-serif;
}
td, th {
	vertical-align: top;
	padding: 0.33rem;
}
td:last-child,
th:last-child {
	padding-right: 0;
}
section, footer {
	padding: 1rem;
	margin: 0 -1rem;
	clear: both;
}
.thing {
	font-style: italic;
}
@media (min-width: 30rem) {
	.widow {
		white-space: nowrap;
	}
}
/* @group fronticepiece */

.frontispiece‎ {
	background-color: black;
	margin-top: -1rem;
	text-align: center;
}
.uxbrighton2013-logo {
	width: 15rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0rem;
}
.frontispiece‎ .tagline {
	font-size: 1.5rem;
	margin-top: 1rem;
	font-weight: 500;
	line-height: 1.25;
	color: #0b8ac1;
}
.frontispiece‎ .location {
	color: rgba(11,138,193,0.79);
	font-size: 0.85rem;
	display: none;
}
.be-a-sponsor {
	color: #ffa039;
	font-size: 2rem;
	margin-top: 	-1rem;
	margin-bottom:	2rem;
}

@media (min-height: 320px) {
	.uxbrighton2013-logo {
		margin-top: 4rem;
	}
	.frontispiece‎ .tagline {
		margin-top: 1.25rem;
	}
	.be-a-sponsor {
		font-size: 2.5rem;
		margin-top: 	3rem;
		margin-bottom:	3rem;
	}
}
/* @end */


/* @group why-sponsor */

.why-sponsor ol {
	margin-top:		1.5rem;
	padding-left:	0.25rem;
	padding-right:	1.25rem;
}
.why-sponsor li {
	margin-bottom:	1rem;
	margin-left:	1rem;
}

/* @end */

/* @group sponsor-levels */
.sponsor-levels {
	border-top: 1px solid rgba(0,0,0,0.25);
}
.sponsor-levels-as-table {
	display: none;
}
.sponsor-level-heading {
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: 500;
}

.sponsor-level-heading.silver {
	color: rgba(0,0,0,0.82);
	background: #ededed;
}
.sponsor-level-heading.gold {
	color: #5c2100;
	background: #fff2d2;
}
.sponsor-level-heading.platinum {
	color: #001a32;
	background: #daeded;
}

.sponsor-level-heading.extras {
	color: rgba(0,0,0,0.71);
	background: #95dfff;
}

/* @group sponsor-levels-as-lists */

.sponsor-levels ul {
	list-style-type: none;
	padding-left: 0;
}
.sponsor-levels li {
	margin-bottom: 0.25rem;
}
.sponsor-levels li:before {
	content: "✔";
	display: inline-block;
	width: 3.25rem;
	text-align: center;
	color: #0b8ac1;
}
.sponsor-lelevs-as-lists .n {
	margin-right: 1rem;
}
.sponsor-levels p {
	color: #ffa039;
	font-weight: normal;
	margin-top: -0.75rem;
	text-align: center;
}
.sponsor-levels .price {
	float: right;
}

/* @end */

/* @group sponsor-levels-as-table */

.sponsor-levels td {
	text-align: center;
	font-weight: bold;
}
.sponsor-levels th[scope=row] {
	font-weight: inherit;
	text-align: left;
}
.sponsor-levels th.sponsor-level-heading {
	min-width: 5rem;
}

/* @end */

@media (min-width: 30rem) {
	.sponsor-levels-as-table {
		display: block;
	}
	.sponsor-levels-as-lists {
		display: none;
	}
}

/* @end */

/* @group sponsor-call-to-action */

.sponsor-call-to-action {
	background: #000;
	padding: 0.1rem 1rem;
	line-height: 1.5;
	color: white;
	text-align: center;
	margin-left: -1rem;
	margin-right: -1rem;
}
.sponsor-call-to-action .avatar {
	display: none;
}
.sponsor-call-to-action a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
/* @end */

/* @group demographics */

.demographics .value {
	display: inline-block;
	width: 2rem;
	color: #0b8ac1;
	text-align: right;
	padding-right: 1rem;
}
.demographics ul {
	padding-left: 0;
}
.demographics li {
	list-style-type: none;
}
.demographics ul > ul {
	padding-left: 3rem !important; /*why’s important required?*/
	color: rgba(0,0,0,0.5);
}
.demographics ul > ul li {
	display: inline;
}
.demographics ul > ul li:after {
	content: ", ";
}
.demographics ul > ul li:last-child:after {
	content: "";
}
.demographics h3 {
	margin-bottom: 0.25rem;
}
.demographics ul {
	margin-top: 0;
}
.demographics .markets,
.demographics .companies {
	float: left;
	width: 50%;
}
.markets:after {
  content: "";
  display: table;
  clear: both;
}
/* @end */

/* @group speakers */

#previous-speakers {
	background: beige;
}
#this-years-speakers {
	background: paleturquoise;
}

/* @end */

/* @group quotes */

.quotes {
	border-top: 1px solid rgba(0,0,0,0.25);
	padding: 1rem;
	margin: -1rem;
}
blockquote {
	margin-right: 0;
	margin-left: 1.25rem;
	margin-right: 1.25rem;
}
cite {
	margin-bottom: 1rem;
	display: inline-block;
}
cite:before {
	content: "—";
	display: inline-block;
	width: 1.25rem;
}

/* @end */

/* @group footer */

footer {
	color: rgba(0,0,0,0.25);
	font-size: 0.75rem;
	text-align: center;
	font-weight: bold;
	padding-top: 3rem;
	font-family: Rockwell, sans-serif;
	font-weight: 700;
}
footer a {
	color: inherit;
	text-decoration: none;
}

/* @end */