body {
	padding: 1rem;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: 300 !important;
	font-size: 14px;
}

h1, h2, h3 {
	font-family: "museo-slab", Rockwell, "American Typewriter", sans-serif;
	font-weight: 500;
}
h1 {
	color: #0b8ac1;
}
h2 {
	color: #c70a3c;
	text-align: center;
}
h3 {
	color: #fd9f44;
}
abbr {
	border: none !important; /*why’s important required?*/
}
hr {
	border: none;
	border-top: 1px solid rgba(0,0,0,0.1);
	margin: 1rem -1rem;
}
td {
	vertical-align: top;
	padding-right: 1rem;
	padding-bottom: 0.75rem;
}
td:last-child {
	padding-right: 0;
}
section, footer {
	padding: 1rem;
	margin: inherit -1rem;
	clear: both;
}
/* @group fronticepiece */

.frontispiece‎ {
	background-color: black;
	padding: 1rem;
	margin: -1rem;
	text-align: center;
}
.uxbrighton2013-logo {
	width: 15rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0rem;
	margin-top: 4rem;
}
.frontispiece‎ .tagline {
	font-size: 1.5rem;
	margin-top: 1.25rem;
	font-weight: 600;
}
.frontispiece‎ .location {
	color: rgba(11,138,193,0.79);
	font-size: 0.85rem;
	display: none;
}
.be-a-sponsor {
	color: #ffa039;
	font-size: 2.5rem;
	margin-top: 	3rem;
	margin-bottom:	3rem;
}
/* @end */


/* @group why-sponsor */

.why-sponsor h2 {
	text-align: center;
	margin-top: 3rem;
}
.why-sponsor ol {
	margin-top: 1.5rem;
	padding-left: 0.25rem;
	padding-right: 1.25rem;
}
.why-sponsor li {
	margin-bottom: 1rem;
	margin-left: 1rem;
}

/* @end */

/* @group sponsor-levels */
.sponsor-levels-as-table {
	display: nonsdde;
}
.sponsor-level-heading {
	font-size: 1rem;
	padding: 0.5rem;
	font-weight: 500;
}
.sponsor-level-heading.silver {
	color: rgba(0,0,0,0.82);
	background: #ededed;
}
.sponsor-level-heading.gold {
	color: #8b1900;
	background: #fff2d2;
}
.sponsor-level-heading.platinum {
	color: #001a32;
	background: #daeded;
}
.sponsor-level-heading.extras {
	color: rgba(0,0,0,0.71);
	background: #95dfff;
}
.sponsor-levels ul {
	list-style-type: none;
	padding-left: 0;
}
.sponsor-levels li {
	margin-bottom: 0.5rem;
}
.sponsor-levels p {
	color: rgba(0,0,0,0.25);
	font-weight: bold;
}
.sponsor-levels .n {
	margin-right: 1rem;
}
.sponsor-levels .price {
	float: right;
}
/* @end */

/* @group quotes */

.quotes {
	background-color: rgba(255,160,57,0.14);
	padding: 1rem;
	margin: -1rem;
}

/* @end */

/* @group demographics */

.demographics .value {
	display: inline-block;
	width: 2rem;
	color: #0b8ac1;
	text-align: right;
	padding-right: 1rem;
}
.demographics ul {
	padding-left: 0;
}
.demographics li {
	list-style-type: none;
}
.demographics ul > ul {
	padding-left: 3rem !important; /*why’s important required?*/
	color: rgba(0,0,0,0.5);
}
.demographics ul > ul li {
	display: inline;
}
.demographics ul > ul li:after {
	content: ", ";
}
.demographics ul > ul li:last-child:after {
	content: "";
}
.demographics h3 {
	margin-bottom: 0.25rem;
}
.demographics ul {
	margin-top: 0;
}
.markets, .companies {
}

/*.demographics > .gender,*/
/*.demographics > .company-size,*/
.demographics > .markets,
.demographics > .companies {
	float: left;
	width: 50%;
}
/* @end */

/* @group speakers */

#previous-speakers {
	background: beige;
}
#this-years-speakers {
	background: paleturquoise;
}

/* @end */

/* @group footer */

footer {
	color: rgba(94,156,168,0.67);
	font-size: 0.75rem;
	text-align: center;
	font-weight: bold;
	padding-top: 3rem;
}
footer a {
	color: inherit;
	text-decoration: none;
}

/* @end */

@media (min-width: 25rem) {
  .widow {
	white-space: nowrap;
    background: red;
}
}